*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
#header{

}

#header .nav{
    height: 54px;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#header .nav .logo{
    float: left;
    
}

#header .nav .nav-bar{
    float: right;
}

#header .nav .nav-button{
    color: black;
    text-decoration: none;
    font-size: 22px;
    line-height: 54px;
    letter-spacing: 4px;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}
#header .slider{
    text-align: center;
}

.nav-BTN{
    width: 24px;
    height: 24px;
    color: black;
    display: none;
    cursor: pointer;
}

.nav-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    cursor: pointer;
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    max-width: 100%;
    background-color: white;
    transform: translateX(100%);
}

.nav-mobile-list .nav-mobile-link{
    list-style-type: none;
    text-align: justify;
    display: block;
    padding-top: 8px;
    padding-left: 8px;
    
}
.nav-mobile-list{
    padding-top: 24px;
}

.nav-mobile-close{
    width: 26px;
    height: 26px;
    top: 0.5rem;
    right: 0.5rem;    
    position: absolute;
    color: black;
    cursor: pointer;
}

.nav-input:checked ~ .nav-overlay{
     display: block;
}

.nav-input:checked ~ .nav-mobile{
    transform: translateX(0%);
}

.nav-input{
    display: none;
}
/* Header */
/* contain */
#contain{

}

.Projects .title h2{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 11%;
}
.line{
    margin-left: 11%;
    margin-right: 11%;
    border-top: 2px solid grey;
    margin-bottom: 32px;
}

.Projects-contain{
    padding-left: 10%;
    padding-bottom: 16px;
    padding-right: 8%;
}

.Projects-contain .img-projects {
    display: inline-block;
    width: 24%;
    padding-left: 10px;
    max-width: 100%;
}
.Projects-contain .img-projects img {
    vertical-align: middle;
}
.para-about p{
    text-align: justify;
    padding-left: 11%;
    padding-right: 10%;
    padding-bottom: 44px;
}

.info-about{
    padding-top: 20px;
}

.info-about > h3, h4, p{
    padding-top: 20px;
}
.info-about > h4{
    /* opacity: 0.7; */
    color: grey;
}
.info-about > p{
    padding-bottom: 20px;
}

.Contact-BTN{
    color: black;
    background-color:#f1f1f1!important;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    border: none;
}

.form-Contact{
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 4px;
}

.form-Contact .info-form{
    padding: 8px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #ccc!important;;
}

.form-Contact .info-BTN{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: black;
    color: white;
    border: none;
}

.form-Contact .info-BTN:hover{
    background-color: grey;
    color: black;
    cursor: pointer;
}

.Projects .para-contact p{
    padding-bottom: 8px;
}

/* contain */
/* footer */
#footer{

}

/* footer */